@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&family=PT+Serif:wght@400;700&display=swap');

:root {
  --creme: #F7F1F0;
  --grey: #C3A6A0;
  --brown: #A14C38;
  --dark: #262220;
}



* {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: auto;
   
}



body{
  background-color: var(--dark);
}

.foot{
  color: var(--creme);
  transition: 0.7s;
}

/*Page tout les cafés */

.zoomImgCard{
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.zoomImgCard:hover{
  cursor : url('../images/coffee-bean_icon-icons.com_61176.png.'),pointer;
}

/*Page index*/

.img_header{
    width : 50%;
}
.titleSite {
  font-size: 2em;
  margin: 20px 50px;
  transition: 0.7s;
}
.deplaceAllMenu{
  margin: 40px 80px;
}
.sizeTitleNav {
  font-size: 1.2em;
}

.sizeTitleNav:hover{

  cursor : url('../images/coffee-bean_icon-icons.com_61176.png.'),pointer;

}

.img_index
{
  width: 100%!important;
  border: 1px solid var(--dark);
}

.alignPictures {
  padding: 150px 0;
}

/*Page d'un seul café*/

.titleOneCoffee { 
  font-size: 3em;
}

.listOneCoffee{
  font-size: 1.2em;
  margin: 50px 0;
  list-style: none;
  text-decoration: none;
}

/*Formulaire d'ajout*/

#formSection
{
    height: 100vh;
    color:var(--brown)!;
}


h5 
{
   color: var(--dark);
   font-size: 3em;
   padding: 50px 0;
}

.insertCoffeeForms
{
   display: flex;
}

.split2
{
   height: 100vh;
   width: 50%;
   position: relative;
   z-index: 1;
   top: 0;
   overflow-x: hidden;
   padding-top: 20px;
 }
 .right2 {
   left: 0;
 }
 .left2 {
   right: 0;
   background-image:url('../images/coffee.jpg') ;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 }
 .centered2
 {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
   vertical-align: baseline;
   width: 60%;
   
 }

.middleForm
{
   align-self: center;
}

#footer{

 background-color: var(--dark);
 color: var(--creme);

}


.header{

  background-color: var(--creme);
  

}

.textheader {
  color: var(--creme);

}


/* CSS HOVER */

.hove {
  transition: 0.3s ease;
  background: #3fa46b00;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-top: 2px solid #3fa46b00;
  border-bottom: 2px solid #3fa46b00;
  padding: 20px 0;
  margin: 0 20px;
  transition: 0.7s;
}

.hove:hover {
  border-top: 2px solid var(--brown);
  border-bottom: 2px solid var(--brown);
  border-radius: 10px;
  padding: 6px 0; 
  transition: 0.7s;
  color: goldenrod!important;
  cursor : url('../images/coffee-bean_icon-icons.com_61176.png.'),pointer;
}



.titleSite:hover {

  color: goldenrod;
  font-size: 2em;
  margin: 20px 50px;
  transition: 0.7s;
  cursor : url('../images/coffee-bean_icon-icons.com_61176.png.'),pointer;
}

#left {

  
    border-radius: 5%;
    transition: 0.7s;


}

#left:hover{

  color: #111; 
  background: rgb(218, 165, 32); 
  box-shadow: 0 0 100px rgba(218, 165, 32, 0.596);
  transition: 0.7s;
  opacity: 0.70;
  cursor : url('../images/coffee-bean_icon-icons.com_61176.png.'),pointer;

}


#right {
  border-radius: 5%;
  transition: 0.7s;

}

#right:hover{

color: #111; 
  background: rgb(218, 165, 32); 
  box-shadow: 0 0 100px rgba(218, 165, 32, 0.596);
  opacity: 0.70;
  transition: 0.7s;
  cursor : url('../images/coffee-bean_icon-icons.com_61176.png.'),pointer;


}

.arabic{
  transition: 0.7s;


}

.arabic:hover{

  opacity: 0.90;
  transition: 0.3s;
  cursor : url('../images/coffee-bean_icon-icons.com_61176.png.'),pointer;
  
}

.robust{
  transition: 0.7s;


}

.robust:hover{

  opacity: 0.90;
  transition: 0.3s;
  cursor : url('../images/coffee-bean_icon-icons.com_61176.png.'),pointer;
  
}

.foot:hover{
  color: var(--dark);
  transition: 0.7s;
  cursor : url('../images/coffee-bean_icon-icons.com_61176.png.'),pointer;
}

/*One Coffee*/


/*Couleur du text*/
.textcolor{

  color: var(--creme);
  text-align: center;
  
}

.texte{
  color: var(--creme);

}